@import 'font.css';
@import 'duplication.css';

body{
    background-color: #f2f2f2;
}

.headContainer{
    background-color: #fcfcfc;
}

.head{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
}

.head h2{
    width: 190px;
    height: 80px;
    font-size: 60px;
    font-family: MontserratSubrayada;
}

.search input[type = "text"]{
    font-size: 20px;
    font-family: Noto Sans;
}

.search input{
    width: 520%;
    height: 50px;
    margin-top: 26px;
    border-radius: 8px;
    border: solid 1px #afafaf;
    background-color: #fcfcfc;
}

.search{
    height: 130px;
    margin-left: 50px;
}

.profile{
    margin-left: 1250px;
    margin-top: 26px;
}

.profile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.disuniteLine{
    margin: 0 auto;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 8px;
}

.disuniteLine span{
    margin-left: 14%;
    font-size: 22px;
}

.disuniteLine hr{
    border: solid 1px #DBDBDB;
}

.infoArea{
    background-color: #fcfcfc;
    width: 1580px;
    height: 940px;
    margin: 0 auto;
    margin-top: 2%;
}

.userProfileArea{
    height: 220px;
    width: 220px;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.userProfileArea img{
    height: 220px;
    width: 220px;
    border-radius: 500px;
}

.userInfo{
    display: flex;
}

.userContent{
    margin-top: 6px;
    margin-left: 10px;
}

.userName_And_Follow{
    margin-top: 15%;
}

.userIntroduce{
    margin-top: 4%;
}

.follow{
    font-size: 16px;
}

.name{
    font-family: "Noto Snas KR";
    font-size: 40px;
}

.userIntroduce span{
    font-family: "Noto Snas KR";
    font-size: 22px;
}

.myWriteFeedArea{
    /* text-align: center; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px;;
}


.feedImg {
    width: 20%;
    height: 400px;
    margin: 2.5%;
}

.feedImg > img {
    width: 100%;
    height: 100%;
}

.button-4{
    width:140px;
    height:50px;
    border:2px solid #333333;
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin-top: 10px;
}

.button-4 a{
    font-family:arial;
    font-size:16px;
    color:#333333;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}

.eff-4{
    width:140px;
    height:50px;
    left:-140px;
    background:#333333;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}

.button-4:hover .eff-4{
    left:0;
}

.button-4:hover a{
    color:#fcfcfc;
}