*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #333333;
}

::-webkit-scrollbar {
    /* 스크롤바 전체 영역 */
    width: 8px;
} 

::-webkit-scrollbar-track {
    /* 스크롤이 움직이는 영역  */
    background-color: #f9f9f9;
} 

::-webkit-scrollbar-thumb {
    /*  스크롤  */
    background-color: #333333; 
    border-radius:30px;
} 

::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {
    /*  스크롤의 화살표가 포함된 영역   */
    display:block;
    height:8px;

}

input[type="text"]
{
    font-size:20px;
}